<div ng-controller='OperatorCtrl' class="container">
  <h2>Current Requests</h2>

  <div ng-repeat='floor in floors'>
    <div class='row'>

      <div class='col-xs-1'>
        <span class='floor-number' ng-class='floor.count > 0 ? "text-primary" : "floor-inactive" '>{{ floor.id }}</span>
      </div>

      <div class='col-xs-4'>
        oldest: <span class='floor-time text-muted' am-time-ago='{{ floor.oldest }} '></span>
        <br />
        newest: <span class='floor-time text-muted' am-time-ago='{{ floor.newest }} '></span>
      </div>


      <div class='col-xs-7'>
        <a ng-click='onClearFloor(floor)'><i class='fa fa-trash-o fa-3x'></i></a>
      </div>
    </div>
  </div>
</div>
